In [9]:
import pandas as pd 
import requests
import json
import warnings
warnings.filterwarnings('ignore')

print('TV Show Finder')

stream_check= []

user_input=str(input("enter a tv show name: ")).title()#formats automatically to a title

def utelly():#This code is the exact same as the first code except that it is formatted as a function.


    response = requests.get("https://utelly-tv-shows-and-movies-availability-v1.p.rapidapi.com/lookup?term=%s&country=us" %(user_input),#links the 
    headers={
    "X-RapidAPI-Host": "utelly-tv-shows-and-movies-availability-v1.p.rapidapi.com",
    "X-RapidAPI-Key": "27f0faf5fbmshdd6202fe3078c29p128ee2jsn21b6f86998d2"
    }
    )

    data = response.json()

    return data
data = utelly()
data
locations = data['results'][0]['locations'][:]
for i in locations:
   

    stream_check.append(i['display_name'])
    

streaming_services = stream_check

#Tv Api (This is Steven's work)

def get_TVListings():
    url = 'http://api.tvmaze.com/singlesearch/shows?q=%s' % (user_input)
    response = requests.get(url)
    data = response.json()
    return data

TV_data = get_TVListings()
#TV_data

if TV_data['status'] == 'Ended':
    output = 'That show is no longer on television'
else:
    channel = TV_data['network']['name']
    time = TV_data['schedule']['time']
    day = TV_data['schedule']['days']


df1 = pd.DataFrame({'Channel' : channel, 'Time' : time, 'Days' : day})
df2 = pd.DataFrame({'Streaming Services' : streaming_services})
print('Search results for', user_input,'... ')
print('\033[1m' + 'Cable:')
display(df1)
print('\033[1m' + user_input, "is available on the following streaming service(s):")
display(df2)

TV Show Finder
enter a tv show name: barry
Search results for Barry ...
Cable:

  Channel   Time    Days
0     HBO  22:00  Sunday

Barry is available on the following streaming service(s):

  Streaming Services
0            Netflix

In [ ]:
user_input=str(input("enter a tv show name")).title()
TV_data = get_TVListings()
#TV_data

channel = TV_data['network']['name']
time = TV_data['schedule']['time']
day = TV_data['schedule']['days']

#print(channel, time, day, service)

output = pd.DataFrame({'Channel' : channel, 'Time' : time, 'Days' : day})
output

In [16]:
output1

  Channel   Time      Days
0     NBC  21:00  Thursday